body {
  font-family: arial, sans serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4f4;
}

#jobForm {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  width: 150px;
  font-weight: bold;
}

.form-group textarea,
.form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button::hover {
  color: black;
}
